.mainEditorContainer{
    display: flex;
    justify-content: center;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    flex:1;

}
.input{
    width:50%;
}
.submitButton{
    width:50%;
}
form{
    flex-direction:column;
    display:flex;
    width:80%;
    height:700px;
    justify-content:space-around;
    align-items:center;
}
.formItem{
    width:50%;
}
.formSelectItem{
    width:40%;
}
img {
    height:15px;
    width:15px;
    border-radius:20px;
    margin-right:8px
}

.addEntityButtonContainer{
    display:flex;
    justify-content:flex-start;
    width:50%;
}
.entityFormItem{
    width:40%;
}
.entityFormButton{
    width:20%;
}
.phoneInputsContainer{
    flex-direction:row;
    width:50%;
    justify-content:space-between;
    display:flex;
}
.prefixPhoneNumberInput{
    width: 25%;
}
.phoneNumberInput{
    width: 60%;
}
p{
    color: red;
}
.entityFormContainer{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    background-color: aqua;
    height: 300px;
}
.entityCard{
    max-height:100px;
    max-width:250px; 
    border-color:black;
    border-width:5px ;
}