.main {
  flex-direction: column;
  width: 90%;
}
.mainButtonContainer {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 20px;
}
.mainListContainer {
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: red;
}
